.profile__head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .profile__head  {
    margin: 22.25px 0 14px 20px ;
    justify-content: center;
  }
}
