.popup__form-input {
  font-family: inherit;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  padding-bottom: 9px;
  display: block;
  font-size: 14px;
  line-height: 17px;
}
.popup__form-input:focus {
  outline: none;
}

