.popup__form-input {
  font-family: inherit;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding-bottom: 9px;
  display: block;
  font-size: 14px;
  line-height: 17px;
}
.popup__form-input:focus {
  outline: none;
}
.popup__form-input::-webkit-input-placeholder {
  color:#C4C4C4;
}
.popup__form-input::-moz-placeholder          {
  color:#C4C4C4;
}
.popup__form-input::-ms-input-placeholder     {
  color:#C4C4C4;
}
.popup__form-input::placeholder               {
  color:#C4C4C4;
}
